html,
body,
div {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

img {
  width: 500px;
  height: 112.851832183px;
  margin-bottom: 10px;
}
