html,
body,
div {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
}

.container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  height: 0;
}
